<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>


<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1><%= title %></h1><br>
            <table class="table table-bordered table-striped hover">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email Address</th>
                   
                    <%
                        if(typeof displayName == 'string' && displayName)
                        {
                            %>
                                <th></th>
                                <th></th>
                            <%
                        }
                    %>
                </tr>
                <% 
                    for(let count=0;count<ContactList.length;count++)
                    {%>
                        <tr>
                            <td class="text-center"><%= ContactList[count].name %></td>
                            <td class="text-center"><%= ContactList[count].number %></td>
                            <td class="text-center"><%= ContactList[count].email %></td>
                        <%
                        if(typeof displayName == 'string' && displayName)
                        {
                            %>
                            <td class="text-center" title="Edit data"><a href="/contact-list/edit/<%=ContactList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>  
                            </a></td>
                            <td class="text-center" title="Delete data"><a href="/contact-list/delete/<%=ContactList[count]._id %>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a></td>
                        
                            <%
                        }
                        %>
                            </tr>
                    <%}
                %> 
            </table>
                    <%
                        if(typeof displayName == 'string' && displayName)
                        {
                            %>
                            <div class="col-md-12 text-right">
                                <a href="/contact-list/add" class="btn btn-primary"><i class="fas fa-plus-circle">Add Contact</i></a>    
                            </div>
                            <%
                        }
                    %>
            
            
        </div>
    </div>
</main>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>